#AdminArticleMange {
    @import "src/color.scss";
    @import "src/function.scss";
    padding: 20px;

    .page_title {
        font-size: 20px;
        font-family: NanumSquareOTF_acEB;
    }

    table {
        th:nth-of-type(2),
        td:nth-of-type(2) {
            padding-left: 10px;
            text-align: left;
        }

        .ellipsis {
            @include text-ellipsis(1);
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-content: center;
        column-gap: 5px;

        button[class^="btn_"] {
            width: 47px;
            height: 24px;
            font-size: 12px;
            font-family: NanumSquareOTF_acB;
            color: #ffffff;
            text-align: center;
            border-radius: 9px;
        }

    }

    .btn_info {
        padding-left: 10px;
        color: #959595 !important;
        text-align: left !important;
        background: url("../../../assets/image/common/ic-arrow-right-more.svg") no-repeat 85% 6px;
        background-color: $color-Link-Water;
    }

    .btn_accept {
        background-color: $blue-green-color;
    }

    .btn_del {
        background-color: $red-color;
    }

    #Pagination {
        margin-top: 20px;
    }
}