#Pagination {
  @import "src/color.scss";
  display: flex;
  justify-content: center;
  align-content: center;

  .btn_first,
  .btn_next {
    width: 55px;
    border-radius: 4px;
  }

  .btn_first {
    margin-right: 5px;
    background: $background-white-gray-color url("../../../assets/image/common/ic-double-arrow-left.svg") no-repeat center
  }

  .btn_prev {
    border-right: transparent;
    background: $background-white-gray-color url("../../../assets/image/common/ic-arrow-left.svg") no-repeat center
  }

  .btn_last {
    background: $background-white-gray-color url("../../../assets/image/common/ic-arrow-right.svg") no-repeat center
  }

  .btn_next {
    margin-left: 5px;
    background: $background-white-gray-color url("../../../assets/image/common/ic-double-arrow-right.svg") no-repeat center
  }

  button {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid $border-color;
    background-color: $background-white-gray-color;
  }

  .number {
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border-right: transparent;

    &.active {
      color: #ffffff;
      border-color: transparent;
      background-color: $blue-color;
      pointer-events: none;
    }
  }

  .not_click {
    pointer-events: none;
  }
}