#Header {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .btn_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 130px;
        font-size: 12px;
        font-family: NanumSquareOTF_acB;
        letter-spacing: 0;
        color: #959595;
    }
}