#ReporterNewsSaveList {
  @import "src/color.scss";
  padding: 20px;
  min-width: 970px;

  .saveList_title {
    font-size: 20px;
    font-family: NanumSquareOTF_acEB;
  }

  .saveList_head {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .all_select_area {
      display: flex;
      align-content: center;
      column-gap: 14px;

      label {
        font-size: 14px;
        font-family: NanumSquareOTF_acB;
        line-height: 32px;
        color: $font-gray-color;

        input {
          margin-right: 8px;
        }
      }

      button {
        margin: auto;
      }
    }

    .search_area {
      display: flex;
      align-content: center;
      column-gap: 5px;

      select,
      input {
        padding: 0 10px;
        height: 32px;
        font-size: 14px;
        font-family: NanumSquareOTF_acEB;
        border: 1px solid $border-color;
        border-radius: 4px;
      }

      select {
        width: 135px;
      }

      input {
        width: 300px;
      }
    }

    .count_area {
      display: flex;
      align-content: center;
      column-gap: 15px;
      line-height: 32px;

      .txt {
        font-size: 14px;
        font-family: NanumSquareOTF_acEB;
      }

      .count {
        font-size: 14px;
      }
    }
  }

  table {
    margin-bottom: 45px;
    width: 100%;

    thead {
      background-color: #f0f0f0;

      th {
        font-family: NanumSquareOTF_acB;
      }
    }

    th,
    td {
      height: 32px;
      font-size: 12px;
      text-align: center;
    }

    td {
      border-bottom: 1px solid $border-color;
    }

    th:nth-of-type(3),
    td:nth-of-type(3) {
      padding-left: 10px;
      text-align: left;
    }
  }

  .btn_write {
    width: 116px;
    height: 24px;
    background: url("../../../assets/image/common/btn-detai-write.svg") no-repeat;
  }

  .btn_del {
    width: 50px;
    height: 24px;
    font-size: 12px;
    font-family: NanumSquareOTF_acB;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    background-color: $red-color;
  }
}