#ReporterNewsList {
  @import "src/color.scss";
  padding: 20px;
  min-width: 970px;

  .list_title {
    font-size: 20px;
    font-family: NanumSquareOTF_acEB;
  }

  .list_head {
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 120px;

    .search_area {
      display: flex;
      align-content: center;
      column-gap: 5px;

      select,
      input {
        padding: 0 10px;
        height: 32px;
        font-size: 14px;
        font-family: NanumSquareOTF_acEB;
        border: 1px solid $border-color;
        border-radius: 4px;
      }

      select {
        width: 135px;
      }

      input {
        width: 300px;
      }
    }

    .count_area {
      display: flex;
      align-content: center;
      column-gap: 15px;
      line-height: 32px;

      .txt {
        font-size: 14px;
        font-family: NanumSquareOTF_acEB;
      }

      .count {
        font-size: 14px;
      }
    }
  }

  table {
    margin-bottom: 45px;
    width: 100%;

    thead {
      background-color: #f0f0f0;

      th {
        font-family: NanumSquareOTF_acB;
      }
    }

    th,
    td {
      height: 32px;
      font-size: 12px;
      text-align: center;
    }

    td {
      border-bottom: 1px solid $border-color;
    }

    th:nth-of-type(2),
    td:nth-of-type(2) {
      padding-left: 10px;
      text-align: left;
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 5px;
  }

  .btn_edit {
    width: 47px;
    height: 28px;
    background: url("../../../assets/image/common/btn-edit.svg") no-repeat center;
  }

  .btn_more {
    width: 91px;
    height: 28px;
    background: url("../../../assets/image/common/btn-article-more.svg") no-repeat;
  }

}