$red-color: #e92f2c;
$blue-color: #4593f5;
$blue-green-color: #05ac9e;
$white-gray-color: #959595;

$font-gray-color: #606060;

$border-color: #d8d8d8;

$background-white-gray-color: #f9f9f9;

$gnb-menu-active-color: $blue-color;
$login-focus-color: $blue-color;
$login-error-color: #e92f2c;