$red-color: #e92f2c;
$blue-color: #4593f5;
$blue-green-color: #05ac9e;

$color-Silver-Chalice: #a1a1a1;
$color-Dusty-Gray: #959595;
$color-Gallery: #f0f0f0;
$color-Gallery-opacity-2: rgba(240, 240, 240, 0.2);
$color-Scorpion: #606060;
$color-Alto: #d8d8d8;
$color-Link-Water: #eff3fb;
$color-Alabaster: #f9f9f9;
$color-Seagull: #81CAE9;
$color-Mine-Shaft: #343434;

$table-head-background-color: $color-Gallery;
$gnb-menu-active-color: $blue-color;
$login-focus-color: $blue-color;
$login-error-color: #e92f2c;