i[class^="icon_"],
button[class^="icon_"] {
  display: block;
  width: 24px;
  //height: 24px;
  background-position: center;
}

.icon_menu {
  background: url("assets/image/common/ic-menu.svg") no-repeat;
}

.icon_search {
  background: url("assets/image/common/ic-search.svg") no-repeat;
}

.icon_user_profile {
  background: url("assets/image/common/ic-user-profile.svg") no-repeat;
}

.icon_facebook_share {
  width: 46px !important;
  height: 44px !important;
  background: url("assets/image/common/ic-share-facebook.svg") no-repeat;
}

.icon_kakao_share {
  width: 46px !important;
  height: 44px !important;
  background: url("assets/image/common/ic-share-kakaotalk.svg") no-repeat;
}

.icon_search {
  background: url("assets/image/common/ic-search.svg") no-repeat;
}

.icon_add {
  background: url("assets/image/common/ic-add.svg") no-repeat;
}

.icon_exit {
  background: url("assets/image/common/ic-exit.svg") no-repeat;
}

.icon_upload_user {
  width: 17px !important;
  height: 16px !important;
  background: url("assets/image/common/ic-user.svg") no-repeat;
}

.icon_upload_time {
  width: 17px !important;
  height: 16px !important;
  background: url("assets/image/common/ic-time.svg") no-repeat;
}

.btn_more_left {
  width: 28px !important;
  height: 28px !important;
  background: url("assets/image/common/btn-more-left.svg") no-repeat;
}

.btn_more_right {
  width: 28px !important;
  height: 28px !important;
  background: url("assets/image/common/btn-more-right.svg") no-repeat;
}

.btn_pause {
  width: 28px !important;
  height: 28px !important;
  background: url("assets/image/common/btn-pause.svg") no-repeat;
}

.btn_start {
  width: 28px !important;
  height: 28px !important;
  background: url("assets/image/common/btn-start.svg") no-repeat;
}

.icon_pause {
  width: 28px !important;
  height: 28px !important;
  background: url("assets/image/common/btn-pause.svg") no-repeat;
}