#Menubar {
  @import "src/color.scss";
  @import "src/function.scss";
  position: relative;
  background-color: #fff;
  z-index: 1;

  @mixin showMenu() {
    //bottom: calc(-100% - 30px - 60px);
    bottom: auto;
    transition-duration: 0.5s;
  }

  ul {
    li {
      min-width: 250px;
      width: 250px;
      a {
        display: block;
        font-size: 16px;
        line-height: 59px;
      }
    }
  }

  .depth1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $color-Alto;
    background-color: #ffffff;

    li {
      font-family: NanumSquareOTF_acEB;
      text-align: center;

      &:hover {
        color: $gnb-menu-active-color;
        a {
          color: $gnb-menu-active-color;
        }
      }

      .tool {
        display: flex;
        justify-content: center;
        align-content: center;
        column-gap: 34px;
      }
    }

    &:hover ~ .depth2{
      @include showMenu();
    }
  }

  .depth2 {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(52, 52, 52, 0.2);
    z-index: -1;

    &:hover {
      @include showMenu();
    }

    .tab {
      padding: 13px 0 20px 0;
      font-family: NanumSquareOTF_acB;

      &:hover {
        background-color: rgba(240, 240, 240, 0.1);
      }

      a {
        line-height: 28px;
        @include text-ellipsis(1);
      }

      ul {

        li {
          padding: 0 30px;
          &:hover {
            a {
              color: $gnb-menu-active-color;
              text-decoration: underline;
            }
          }
        }

        li+li {
          margin-top: 2px;
        }
      }
    }

    .tab+.tab {
      border-left: 1px solid $color-Alto;
    }
  }
}